.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 1.4em;
  background-color: #1976d2;
  height: 2.5em;
  padding: 0 2em 0 2em;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.nav-item {
  display: flex;
  gap: 1.5em;
}
